
@media only screen and (max-width: 1250px) {
    .menu {
        display: none;
    }

    .margin {
        margin: 0;
        padding: 0 0.625rem;
    }

    .our-photo {
        width: 100%;
        padding: 1rem;
    }

    .Home {
        margin-top: -6.25rem;
    }


    .title span {
        line-height: 25vw;
        font-size: 16.5vw;
        text-align: center;
    }

    .title p {
        font-size: 7.75vw;
        line-height: 9vw;
        text-align: center;
        margin-top: -1rem;
        height: auto;
    }

    .m-align-center {
       text-align: center!important;
    }

    .m-text-14 {
        font-size: 3.75vw;
        line-height: 4.625vw;
    }

    .m-text-16 {
        font-size: 4.5vw;
        line-height: 5.5vw;
    }

    .m-text-18 {
        font-size: 5vw;
        line-height: 6.75vw;
    }

    .m-text-20 {
        font-size: 5.35vw;
        line-height: 6.5vw;
    }

    .m-text-64 {
        line-height: 25.25vw;
        font-size: 16.25vw;
    }

    .m-text-30 {
        font-size: 8vw;
        line-height: 9.25vw;
    }

    .row>* {
        padding-right: 0.625rem;
        padding-left: 0.625rem;
    }

    .m-ph-20 {
        padding-right: 1.25rem;
        padding-left: 1.25rem;
    }

    .m-ml-0 {
        margin-left: 0!important;
    }

    .m-mr-0 {
        margin-right: 0!important;
    }

    .m-mb-0 {
        margin-bottom: 0!important;
    }

    .m-mt-0 {
        margin-top: 0!important;
    }

    .m-mr-15 {
        margin-right: 4.25vw!important;
    }

    .m-mb-10 {
        margin-bottom: 0.625rem!important;
    }

    .m-mb-20 {
        margin-bottom: 1.25rem !important;
    }

    .m-mb-40 {
        margin-bottom: 2.5rem !important;
    }

    .m-mb-60 {
        margin-bottom: 3.75rem !important;
    }

    .m-mb-80 {
        margin-bottom: 5rem !important;
    }

    .m-mt-20 {
        margin-top: 1.25rem !important;
    }

    .m-mt-40 {
        margin-top: 2.5rem !important;
    }

    .m-mt-80 {
        margin-top: 5rem !important;
    }

    .m-pt-20 {
        padding-top: 1.25rem!important
    }

    .m-pt-40 {
        padding-top: 2.5rem!important;
    }

    .m-pb-40 {
        padding-bottom: 2.5rem!important;
    }

    .m-align-center {
        text-align: center;
    }

    .m-align-left {
        text-align: left;
    }

    #confirm {
        height: auto!important;
    }

    .confirm-card {
        margin: 1.25rem 0.625rem !important;
        width: calc( 100% - 1.25rem);
        padding: 1.25rem 1rem;
        min-height: 35rem;
    }

    .confirm-form, .confirm-button {
        width: 100%;
    }

    .japan {
        width: 67%!important;
        left: -23%;
    }

    .row {
        margin: 0;
    }

    .iban-card {
        border: none;
        padding: 0;
    }

    .m-separator {
        border: none;
        border-left: 1px solid #725671;
    }

    .answer > br {
        display: none;
    }

    .question > br {
        display: none;
    }

    b > br {
        display: none;
    }

    i > br {
        display: none;
    }

    .bottom-buttons {
        position: relative;
        bottom: 0;
        flex-direction: column-reverse;
    }

    .cancel-button, .confirm-button {
        width: 100%;
    }
    
    .form-check-label {
        padding-top: 0.5vw;
    }

    .form-check-input {
        height: 5vw;
        width: 5vw;
    }

    .dress-code-palette {
        transition: none;
        width: 100%;
    }
}